# Dependencies
node_modules
.pnpm-store

# Production Builds
dist
build
.vercel
.render

# Environment Variables
.env
.env.local
.env.production
.env.development

# Logs & System Files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
